<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Accounts</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/account/account.css">
</head>
<body>
<div class="container mt-5">
    <h2 class="mb-4">All Accounts</h2>
    <div class="mb-3">
        <a href="/create" class="btn btn-primary">Create New Account</a>
        <a href="/withdrawals" class="btn btn-info">View Withdrawals</a>
        <a href="/transactions" class="btn btn-secondary">View All Transactions</a>
    </div>

    <!-- Search Bar -->
    <div class="search-bar mb-4">
        <input type="text" id="searchInput" class="form-control" placeholder="Search by Account Holder Name...">
    </div>

    <div class="scrollable-table-container mt-3">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Account Number</th>
                <th>Account Holder Name</th>
                <th>Balance</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody id="accountsTableBody">
            <tr th:each="account : ${accounts}">
                <td th:text="${account.accountNumber}"></td>
                <td>
                    <a th:href="@{'/profile/' + ${account.accountNumber}}" th:text="${account.accountHolderName}"
                       class="account-link"></a>
                </td>
                <td th:text="${account.balance}"></td>
                <td>
                    <a th:href="@{'/update/' + ${account.accountNumber}}" class="btn btn-warning" data-bs-toggle="tooltip" data-bs-placement="top" title="Update Account">Update</a>
                    <a th:href="@{'/delete/' + ${account.accountNumber}}" class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete Account">Delete</a>
                    <a th:href="@{'/transfer/' + ${account.accountNumber}}" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Transfer Funds">Transfer</a>
                    <a th:href="@{'/deposit/' + ${account.accountNumber}}" class="btn btn-success" data-bs-toggle="tooltip" data-bs-placement="top" title="Deposit Funds">Deposit</a>
                    <a th:href="@{'/withdraw/' + ${account.accountNumber}}" class="btn btn-dark" data-bs-toggle="tooltip" data-bs-placement="top" title="Withdraw Funds">Withdraw</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Bootstrap and Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz4fnFO9z5dZ2b0E1TO6W2h5g5Rp4KmRSY+mbowylI3xQ+jSeEyz8S0eSy" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-OERcA2z8xG4N57ZKc0BeDohBReQJr2FnD6OHZ3uRzA1F3I10P3pPp1EzWoyz2NTs" crossorigin="anonymous"></script>
<script src="/js/scripts.js"></script>
</body>
</html>
